.userRepos {
    width: 75%;
    .menu {
        display: flex;
        justify-content: flex-end;
        
        .item {
            margin: 0 0 15px 0;
        }
        
        select {
            padding: 5px;
        }
    }
    
    .repos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .item {
            border: 1px solid #dfe6e9;
            margin-bottom: 16px;
            padding: 16px;
            width: calc(50% - 8px);
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            .repo-name {
                margin: 0 0 10px 0;
                font-size: 18px;
                align-self: flex-start;
                text-decoration: none;

                &::before {
                    content: '';
                    width: 15px;
                    height: 15px;
                    background: url('../../images/notebook.png') no-repeat;
                    background-size: 100%;
                    position: relative;
                    display: inline-block;
                    background-position: center;
                    margin: 0 5px 0 0;
                    vertical-align: middle;
                }
            }
            
            .repo-description {
                margin: 0 0 10px 0;
                font-size: 14px;
            }
            
            .footer {
                display: flex;
                justify-content: space-between;
                
                .repo-language {
                    align-self: flex-start;
                }
                
                .repo-stargazers {
                    align-self: flex-end;
                    margin-left: auto;
                    
                    &::before {
                        content:'';
                        position: relative;
                        display: inline-block;
                        width: 14px;
                        height: 14px;
                        margin-right: 3px;
                        background: url(../../images/star.png);
                        background-size: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .userRepos {
        width: 66.66667%;
        .repos {
            .item {
                width: 100%;
            }
        }
    }
}

@media (max-width: 768px) {
    .userRepos {
        width: 100%;
    }
}